<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>

        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="manifest" href="/img/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/home.css" />
    </head>
    <body>
        <div class="head">
            <small>
                <img src="../img/checklist.png" alt="" width="80px" style="margin-right: 21px;">

            </small>
            <h1>
                <%= title %></h1>
        </div>
        <br>
        <hr />

        <form action="/add_task" method="post">
            <div class="desc">
                <label for="desc">DESCRIPTION</label>
                <input
                    type="text"
                    name="task"
                    placeholder="What do you need to do?"
                    id="task"
                    required
                />
            </div>
            <hr />
            <div class="col-2">
                <div class="category">
                    <p>CATEGORY</p>

                    <select id="select_cat" name="category" required>
                        <option value="none" selected disabled hidden >
                            Choose Category
                        </option>
                        <option value="Personal" >Personal</option>
                        <option value="Work" >Work</option>
                        <option value="School" >School</option>
                        <option value="Others"  >Others</option>
                    </select>

                </div>

                <div class="date">
                    <p>DUE DATE</p>
                    <input type="date" name="date" id="" required/>
                </div>
            </div>
            <hr />

            <div class="btns">
                <button type="submit" class="submit"><i class="fas fa-plus"></i>Add Task</button>
                <div class="delete_div"><a href="/delete-all/ " id="delete"><i class="fas fa-trash-alt"></i>Delete Tasks</a></div>
            </div>
        </form>
        <hr>

        <!-- tasks starts  -->

        <div class="taskContainer">
            <% for( let i of task_List ) { %>
                <div class="task">
                    <input type="checkbox" name="check" id="check" class="check">
    
                    <div id="task_info" class="task_info">
    
                        <div class="task_left">
                            <p id="task_main" class="task_main "><%= i.task %> </p>
                            <p><%= i.date %> </p>
                            
                        </div>
                        
                        <div class="right_section">
                            <!-- deleting a particular task  -->
                            <div class="delete_task">
                                <a href="/delete-task/<%= i._id %>  " id="delete"><i class="fas fa-trash"></i>&nbsp;Delete Task</a>
                            </div>

                            <div class="category_name">
                                <p><%= i.category %> </p>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <hr>
            <% } %>


            
        </div>
        

        <script type="text/javascript" src="/js/app.js"></script>
    </body>
</html>
